@import '../../variables';

.register {
    .register-container {
        .title {
            margin-bottom: 2rem;
            text-align: center;
        }
        .card {
            width: 25rem;
            margin: auto;
        }
        padding-top: 5rem;
        min-height: calc(100vh - #{$top-nav-height} - #{$footer-height});
    }
}